body {
  padding: 0;
  margin: 0;
  background-color: #2e1a46;
  color: #ffffff;
  font-family: "Roboto Mono", monospace;
}

.main {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  max-width: 40rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -2.5rem;
}

.app,
.area {
  padding: 1rem;
  border: solid 2px #ffffff;
  border-radius: 6px;
}

.nav {
  padding-top: 50px;
}

.nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav a {
  margin: 0 30px;
  padding: 8px 2px 0 2px;
  color: #ffffff;
  text-decoration: none;
  position: relative;
}

.nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  border-bottom: 2px dashed #ffe841;
  transition: width 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.nav a:hover::after {
  width: 100%;
}
